@using PriceAggregator.Web.App_LocalResources
@using PriceAggregator.Web.Core
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.js"></script>
    script src="http://schlogen.github.io/angular-confirm/javascripts/angular-confirm.js"></!--script>
    -->
}

<div class="container">
    <ng-view></ng-view>

</div>
